.innerbox {
  text-align: center;
  margin-top: 4%;
  margin-left: 25%;
  width: 50%;
  height: 50%;
  border-radius: 5px;
  padding: 10px;
  background-color: #d3d3d3;
}
body {
  transition: background-color 1.5s;
}
.author {
  text-align: right;
  margin-right: 10%;
  font-weight: 500;
}
.quotebutton {
  border-radius: 4px;
  padding: 7px;
  margin-bottom: 6px;
}

@media only screen and (max-width: 950px) {
  h2 {
    font-size: 18px;
  }
  .author {
    font-size: 12px;
  }
  .innerbox {
    width: auto;
    height: auto;
    margin-top: 10%;
  margin-left: 0%;
  }
}
